# Web Framework
fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.21

# Environment & Configuration
python-dotenv==1.2.1
pydantic==2.12.5

# PDF Processing
pypdf==6.5.0

# LangChain Ecosystem
langchain-core==1.2.6
langchain-openai==1.1.6
langchain-text-splitters==1.1.0
langchain-chroma==1.1.0

# Vector Database (chroma)
chromadb==1.4.0

# Vector Database (supabase)
supabase==2.11.3
postgrest==0.18.0
storage3==0.8.1

# OpenAI API
openai==2.14.0

# Observability (Optional)
langsmith==0.6.0